:root {
    --text: #050315;
    --background: #FFFCEB;
    --primary: #848B79;
    --secondary: #023020;
    --accent: #355E3B;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Roboto Flex";
}

h1 {
    color: var(--secondary);
}

h2 {
    color: var(--secondary);
    font-size: x-large;
}

h3 {
    color: var(--secondary);
}

li {
    color: var(--secondary);
}

ol {
    font-size: large;
}

h1 {
    font-weight: 600;
    text-decoration: underline;
}

img {
    border: 6px solid #023020;
}

p {
    color: var(--secondary);
    font-size : x-large;
}

label {
    color: var(--secondary)
}