:root {
    --text: #050315;
    --background: #FFFCEB;
    --primary: #848B79;
    --secondary: #023020;
    --accent: #355E3B;
}

body {
    color: var(--text);
    background: var(--background);
    font-family: "Roboto Flex";
}
h1 {
    color: var(--secondary);
}
h2 {
    color: var(--accent);
    font-weight: 450;
}
h3 {
    color: var(--secondary);
    font-weight: 400;
}
li {
    color: var(--secondary);
}
ol {
    font-size: large;
}
h1 {
    font-weight: 600;
    text-decoration: wavy underline;
}